.thumbnail {
  background-color: white;
  width: 170px;
  min-height: 250px;
}

.thumbnails li.span3 {
  width: 170px; 
}

.liz-project-desc {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.index_map {
  width: 95%;
}

.index_map h2 {
    color: #03DED8;
    border-bottom: 1px dotted #03DED8;
    font-size: 20px;
}

.index_map ul.thumbnails,
.index_map ul.thumbnails li {
    margin-left: 0px;
}

.index_map ul.thumbnails li {
    margin-right: 15px;
}

.index_map .thumbnails img {
    width: 150px;
}

.index_map h5 {
    color: #666;
    font-weight: normal;
    font-size: 12px;
}

.index_map h3 {
    color: #666;
    font-size: 14px;
}


.index_map .directory {
    float: left;
    margin-right: 10px;
}

.index_map .directory .btn {
    padding: 3px;
}

.modal-body .dl-horizontal dt {
    color: #888;
    font-weight: normal;
}

.modal-body .dl-horizontal dd {
    font-size: 12px;
}